<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ css('style') }}
</head>
<body>

  <div id="app">
    <button @click="makeRequest()"> Make request </button>
  </div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script>
    new Vue({
      el: '#app',
      methods: {
        makeRequest () {
          axios
          .post('/')
          .then(console.log)
          .catch(console.error)
        }
      }
    })
  </script>
</body>
</html>
